$colorPrimary: #F2E6E6;
$colorSecondary: #A89A9B;
$colorAccent: #BD181D;
$colorDark: #2D2728;
$colorGray: #E5E5E5;

$transitionDefault: all 0.3s ease-in;

$fontSize: 14px;
$fontSizeSmall: 12px;
$fontFamily: sans-serif;
